body {
    font-family: 'Poppins Thin', sans-serif;
    background-color: #313338;
}

.sidebar {
    width: 240px;
    background-color: #2b2d31;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.chat-input {
    position: fixed;
    bottom: 20px;
    right: 260px;
    width: 1330px;
    height: 50px;
    background-color: #383a40;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.chat-input input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #383a40;
    color: white;
    font-size: 18px;
    outline: none; /* убираем обводку при клике на инпут */
}

.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 310px;
    background-color: #2b2d31;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.nickname-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    outline: none;
}

.nickname-input input[type="text"] {
    position: fixed;
    background-color: #383a40;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.nickname {
    width: 240px;
    height: 50px;
    border-radius: 10px;
    margin-top: 875px;
}

.nickname:hover {
    background-color: #3d3e45;
    border-radius: 10px;
}

.nickname span {
    user-select: none;
    position: fixed;
    top: 910px;
    left: 30px;
}

.popup {
    position: absolute;
    top: 750px;
    left: 20px;
    width: 220px;
    height: 100px;
    background-color: #3d3e45;
    display: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
    z-index: 1;
}

.popup p {
    margin: 0;
}

.nickname:hover .popup {
    display: block;
}


